<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article?.title }}</h1>

      <div class="article-meta">
        <a><img [src]="" /></a>
        <div class="info">
          <a
            [routerLink]="['/profile', article?.author?.username]"
            class="author"
            >{{ article?.author?.username }}</a
          >
          <span class="date">January 20th</span>
        </div>
        <ng-container *ngIf="isAuthenticated$ | async">
          <ng-container *ngIf="isAuthorized$ | async; else notAuthorized">
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="onEditArticle()"
            >
              <i class="ion-edit"></i>
              &nbsp; Edit article
            </button>
            &nbsp;&nbsp;
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onDeleteArticle()"
            >
              <i class="ion-trash-a"></i>
              &nbsp; Delete article
            </button>
          </ng-container>
          <ng-template #notAuthorized>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="onMayBeFollow()"
            >
              <i class="ion-plus-round"></i>
              &nbsp;
              {{ article?.author?.following ? "Unfollow" : "Follow" }}
              {{ article?.author?.username }}
            </button>
            &nbsp;&nbsp;
            <button
              class="btn btn-sm btn-outline-primary"
              (click)="onMayBeFavorite()"
            >
              <i class="ion-heart"></i>
              &nbsp; Favorite Post
              <span class="counter">({{ article?.favoritesCount }})</span>
            </button>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <div>{{ article?.body }}</div>

        <ul class="tag-list">
          <li
            *ngFor="let tag of article?.tagList"
            class="tag-default tag-pill tag-outline"
          >
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div *ngIf="!(isAuthenticated$ | async)" class="centered">
          <a [routerLink]="['/login']">Sign in</a> or
          <a [routerLink]="['/register']">sign up</a>
          to add comments on this article.
        </div>

        <form
          *ngIf="isAuthenticated$ | async"
          [formGroup]="commentForm"
          class="card comment-form"
          (ngSubmit)="addComment()"
        >
          <div class="card-block">
            <textarea
              formControlName="comment"
              class="form-control"
              placeholder="Write a comment..."
              rows="3"
            ></textarea>
          </div>
          <div class="card-footer">
            <img [src]="" class="comment-author-img" />
            <button
              class="btn btn-sm btn-primary"
              type="submit"
              [disabled]="!commentForm.valid"
            >
              Post Comment
            </button>
          </div>
        </form>

        <div *ngFor="let comment of comments" class="card">
          <div class="card-block">
            <p class="card-text">
              {{ comment.body }}
            </p>
          </div>
          <div class="card-footer">
            <a
              [routerLink]="['/profile', comment.author.username]"
              class="comment-author"
            >
              <img [src]="" class="comment-author-img" />
            </a>
            &nbsp;
            <a
              [routerLink]="['/profile', comment.author.username]"
              class="comment-author"
              >{{ comment.author.username }}</a
            >
            <span class="date-posted">{{ comment.createdAt | date }}</span>
            <span class="mod-options">
              <i class="ion-trash-a" (click)="onDeleteComment(comment.id)"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
