<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <ng-container *ngIf="currentProfile">
            <img src="" class="user-img" />
            <h4>{{ currentProfile.username }}</h4>
            <p>{{ currentProfile.bio }}</p>
            <button
              [hidden]="isUserConnected$ | async"
              class="btn btn-sm btn-outline-secondary action-btn"
            >
              <i *ngIf="!currentProfile.following" class="ion-plus-round"></i>
              <i *ngIf="currentProfile.following" class="ion-minus-round"></i>
              &nbsp;
              {{ currentProfile.following ? "Unfollow" : "Follow" }}
              {{ currentProfile.username }}
            </button>
            <a
              [routerLink]="['/settings']"
              [hidden]="!(isUserConnected$ | async)"
              class="btn btn-sm btn-outline-secondary action-btn"
            >
              <i class="ion-gear-a"></i> Edit Profile Settings
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
