<div class="home-page">
  <app-banner></app-banner>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li *ngIf="isLoggedIn$ | async" class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: mode === 'feed' }"
                (click)="updateFeed('feed')"
                >Your Feed</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: mode === 'all' }"
                (click)="updateFeed('all')"
                >Global Feed</a
              >
            </li>
          </ul>
        </div>
        <p *ngIf="allArticles.length === 0">No articles are here... yet.</p>
        <ng-container *ngIf="allArticles.length > 0">
          <div *ngFor="let article of allArticles" class="article-preview">
            <div class="article-meta">
              <a [routerLink]="['/profile', article.author.username]"
                ><img [src]="article.author.image"
              /></a>
              <div class="info">
                <a
                  [routerLink]="['/profile', article.author.username]"
                  class="author"
                  >{{ article.author.username }}</a
                >
                <span class="date">{{ article.updatedAt | date }}</span>
              </div>
              <button
                class="btn btn-outline-primary btn-sm pull-xs-right"
                [ngClass]="{
                  'btn-outline-primary': !article.favorited,
                  'btn-primary': article.favorited
                }"
                (click)="toggleFavorite(article)"
              >
                <i class="ion-heart"></i> {{ article.favoritesCount }}
              </button>
            </div>
            <a [routerLink]="['/article', article.slug]" class="preview-link">
              <h1>{{ article.title }}</h1>
              <p>{{ article.description }}</p>
              <span>Read more...</span>
              <ul class="tag-list">
                <li
                  class="tag-default tag-pill tag-outline"
                  *ngFor="let tag of article.tagList"
                >
                  {{ tag }}
                </li>
              </ul>
            </a>
          </div>
        </ng-container>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            <a *ngFor="let tag of allTags" class="tag-pill tag-default">
              {{ tag }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
